version: '3.8'

services:
  api:
    depends_on:
      - db
      - redis
    build:
      context: ./docker/api
      dockerfile: ./Dockerfile
    user: "node"
    tty: true
    volumes:
      - ./:/app
    ports:
      - ${PORT}:3000
      - 9229:9229
      - 9230:9230
    command: >
      bash -c "npm ci
      && rm -rf dist
      && npm run start:debug"

  db:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile    
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - ${DB_PORT}:5432
      
  
  db_test:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    volumes:
      - ./docker/postgres/data_tests:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: username_test
      POSTGRES_PASSWORD: password_test
      POSTGRES_DB: database_test
    ports:
      - 54321:5432

  redis:
    image: redis:7.2.4
    restart: always
    command: redis-server
    volumes:
      - ./docker/redis/data:/data
    ports:
      - 6379:6379
    
  mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
