container_commands:
  01_install_instance_connect:
    command: |
      yum install -y ec2-instance-connect
  02_install_dependancies:
    command: |
      npm ci
  03_run_migrations:
    command: |
      # Load environment variables from EB
      eval $(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries[] | "export \(.key)=\(.value)"')


      # Fetch secrets from SSM and add to environment 
      export DB_PASSWORD=$(aws ssm get-parameter --name "/${PROJECT_NAME}/db-password" --with-decryption --query 'Parameter.Value' --output text --region eu-central-1) 
      export API_KEY=$(aws ssm get-parameter --name "/${PROJECT_NAME}/api-key" --with-decryption --query 'Parameter.Value' --output text --region eu-central-1) 
      export MAIL_PASSWORD=$(aws ssm get-parameter --name "/${PROJECT_NAME}/mail-password" --with-decryption --query 'Parameter.Value' --output text --region eu-central-1)

      ## Uncomment for database connection debugging
      # node ./debug-db.js
      # echo "DB_PASSWORD: $DB_PASSWORD"
      # echo "API_KEY: $API_KEY"
      # echo "MAIL_PASSWORD: $MAIL_PASSWORD"

      npm run migration:run
    leader_only: true